/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    height: 100%;
}

  * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }
 ul, ol {
    list-style: none;
 }
  a {
    text-decoration: none;
  }
  body{
    font-family: 'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color:#111;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
  }

  .container {
    width: 100%;
    max-width: 940px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    

  }

  .active{
    color: ;
  }

  .main {
    flex-grow: 1;
  }

  .header {
    padding-top: 18px;
    padding-bottom: 18px;

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
   
}
.logo-text {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4;
    color: rgba(105, 185, 255, 1);
    user-select: none;
}
.sitenav {
    
}
.sitenav-list {
    display: flex;

}
.sitnav-item:not(:last-child) {
    margin-right: 40px;
}
.sitenav-link {
    font-size: 15px;
    line-height: 25px;
}

.hero {
    padding-top: 184px;
    padding-bottom: 200px;
    background-image: url(../images/hero-img.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-title {
    font-size: 59px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 107px;
    color: #ffff;
    font-weight: 400px;


}
.hero-buttons {
    display: flex;
    gap: 20px;
}
.btn {
    color: #ffff;
    padding: 12px 30px;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgba(105, 185, 255, 1);
    border-color: transparent;
}

.btn-active {
    background-color: rgba(105, 185, 255, 1);
    border-color: transparent;
}

.btn-active:hover {
    background-color:transparent;
    border-color: #fff;
}

.what {
    padding-top: 77px;
    padding-bottom: 80px;
    color: rgba(103, 103, 112, 1);
}
.what-container {

}

.what-info {
    text-align: center;
    margin-bottom: 62px;

}

.what-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    font-weight: 400px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.what-description {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    

}

.what-list {
    display: flex;
    text-align: center;
    gap: 20px;

}

.what-item {
    border: 1px solid rgba(220, 235, 247, 1);
    padding: 36px 16px 23px ;
    border-radius: 5px;
    
}

.what-link {
    color: inherit;
}

.what-img {

}
.what-link-title {
}
.what-link-description {
}

.services {
    background-position: center;
    
    background-color: rgba(25, 32, 36, 1);
    padding-top: 184px;
    padding-bottom: 200px;
    margin-bottom: 77px;
}  
.services-container {
    
}

.services-info {
    color: rgba(255, 255, 255, 1);
}
.services-title {
    text-align: center;
}
.services-tithed {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
    margin-bottom: 17px;
}
.services-tittext {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(232, 232, 232, 1);
    margin-bottom: 77px;
}
.services-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
}
.services-item {
}
.services-img {
    margin-bottom: 20px;
}
.services-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 23px;
    font-weight: 400px;
}
.services-text {
    font-size: 14px;
    line-height: 25px;
    width: 400px;
    height: 100px;
    margin-bottom: 17px;
    gap: 80px;
    

}
.services-link {
    box-sizing: border-box;
    width: 121px;
    height: 21px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    gap: 297px;
    padding: 11px 32px;
    color: #fff;
    margin-bottom: 95px;
}

.tab {
}
.tab-container {
    text-align: center;
    color: rgba(103, 103, 112, 1);
    display: flex;
    align-items: center;
}

.tab-info {
    text-transform: uppercase;
}
.tab-title {
}
.tab-titlehad {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    
    margin-bottom: 17px;
}
.tab-titletext {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    margin-bottom: 74px;
}
.tab-list {
    
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 52px;
    justify-content: center;
}
.tab-item {
    
    border-radius: 4px;
    padding: 1px 30px;
    width: 196px;
    height: 21px;
    background-color: rgba(146, 160, 173, 1);
    padding: 1px 30px 1px 30px;
    align-items: center;
}
.tab-link {
    width: 136px;
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    
    
}


.tab-item.active, .tab-item:hover{
    background-color: rgba(46, 128, 182, 1);
}

.tab-img {
    margin-bottom: 16px;
}
.tab-heading {
    
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 14px;
    
}
.tab-text {
font-size: 13px;
line-height: 25px;

}

.tab-text-info {
    margin-bottom: 123px;
}

.footer-container {
    
}
.container {
}
.footer-info {
    display: flex;
    align-items: flex-start;
    
    margin-bottom: 40px;
    gap: 21px;
}
.footer-abvel {

}
.footer-list-item {
}


.footer-item {
    margin-bottom: 11px;
    color: rgba(103, 103, 112, 1);
   
    
}
.footer-divider {
    width: 300px;
    height: 1px;
    background-color: rgba(213, 213, 224, 1);
}

.footer-title{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    margin-bottom: 25px;
    color: rgba(103, 103, 112, 1);
}

.footer-text{
    width: 299px;
    height: 125px;
    color: rgba(103, 103, 112, 1);
    padding-right: 21px;
}

.footer-icon-img{
    margin-right: 10px;
}

.divider-two{
    margin-left: 30px;
}

.footer-btn{
    width: 100%;
    height: 101px;
    background-color: rgba(56, 56, 56, 1);
    padding-top: 40px;
}

.footer-btn-text{
    color: rgba(158, 158, 158, 1);
    text-align: center;
    align-items: center;
   
    margin-bottom: 40px;
}

.site-footer-link{
  color:   rgba(103, 103, 112, 1);
}